apiVersion: v1
kind: Secret
metadata:
  name: facilitator-secrets
  labels:
    app: x402-facilitator
type: Opaque
stringData:
  fee_payer_private_key: "YOUR_BASE58_PRIVATE_KEY_HERE"
# To create the secret from command line:
# kubectl create secret generic facilitator-secrets \
#   --from-literal=fee_payer_private_key=YOUR_BASE58_PRIVATE_KEY_HERE

